//<INPUT>
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	display: block;
	padding: 18px 20px 18px 30px;
	outline: none;

	border-radius: toRem(100);
	border: toRem(1) solid $gray-7-lines;
	background-color: $gray-8;

	color: $mainColor;
	font-family: "Manrope";
	font-size: toRem(16);
	font-style: normal;
	font-weight: 400;
	line-height: 1.35;
	letter-spacing: -0.32px;

	transition: all .3s ease;
	@media (max-width:$mobileSmall){
		 font-size: toRem(14); 
	}
	&._form-focus {
		border-color: $blueColor;
	}
	&._form-error {
		border-color:  #F46E86;
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
		color: #7D7D9C;
		font-family: "Manrope";
		font-size: toRem(16);
		font-style: normal;
		font-weight: 400;
		line-height: 1.35;
		letter-spacing: -0.32px;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	min-height: toRem(60);
	padding: 15px 20px 5px 30px;
	@media (max-width:$mobileSmall){
		min-height: toRem(55);
	}
}

.form {
		// .form__label
		&__label {
			display: block;
			position: relative;
			&._form-error {
				color: #F46E86;
				font-family: "Manrope";
				font-size: toRem(16);
				font-style: normal;
				font-weight: 500;
				line-height: 1.35; /* 24.3px */
				letter-spacing: -0.36px;
			}
			.form__error {
				position: absolute;
				top: 0;
				right: 0;
				.popup-start__form-body_clmn & {
					top: unset;
					bottom: -22px;
				}
			}
		}
		// .form__label-txt
		&__label-txt {
			display: block;
			color: $mainColor;
			font-family: "Manrope";
			font-size: toRem(16);
			font-style: normal;
			font-weight: 500;
			line-height: 1.35;
			letter-spacing: -0.32px;
			margin-bottom: toRem(10);
			span {
				color: $blueColor;
			}
		}
		// .form__button
		&__button {
		}
}
