//======================================================================================
.footer {
  background-color: $mainColor;
  @include adaptiveValue("padding-top", 83, 60);
  padding-bottom: toRem(35);
  // .footer__container
  &__container {
  }
  // .footer__top
  &__top {
    display: grid;
    grid-template-columns: 20% 1fr toRem(705);
    @include adaptiveValue("padding-bottom", 52, 40,0,1920,375);
    border-bottom: toRem(1) solid rgba(255, 255, 255, 0.2);
    @media (max-width: em(1440.98)){
      grid-template-columns: toRem(275) 1fr 45%;
    }
    @media (max-width:$tablet){
      grid-template-columns: auto auto;
    }
    @media (max-width: em(650.98)){
        grid-template-columns: auto;
        row-gap: toRem(40);
    }
  }
  // .footer__logo
  &__logo {
  }
  // .footer__nav
  &__nav {
  }
  // .footer__contact
  &__contact {
  }
  // .footer__mail
  &__mail {
  }
  // .footer__policy
  &__policy {
  }

}

.nav-footer {
  @media (max-width:$tablet){
    display: none;
  }
  // .nav-footer__list
  &__list {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4,auto);
    grid-auto-flow: column;
    row-gap: toRem(10);
    column-gap: toRem(15);
    @media (max-width: em(1300.98)){
      grid-template-columns: auto;
      grid-auto-flow: row;
    }
  }
  // .nav-footer__item
  &__item {
    
  }
  // .nav-footer__link
  &__link {
    color: $gray-4;
    font-family: "Manrope";
    font-size: toRem(18);
    font-weight: 500;
    line-height: normal;
    transition: all .3s ease;
    @media (any-hover: hover){
      &:hover{
        color: white;
      }
    }
  }
}

.contact-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: toRem(34);
  // .contact-footer__address
  &__address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (max-width: em(1440.98)){
        flex-direction: column;
        row-gap: toRem(20);
    }
    @media (max-width: em(650.98)){
        align-items: flex-start;
    }
  }
  // .contact-footer__phone
  &__phone {
    color: white;
    @include adaptiveValue("font-size", 20, 16,0,1920,375);
    line-height: normal;
    letter-spacing: -0.4px;

    display: inline-block;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    gap: toRem(10);
    
    @media (any-hover: hover){
      &:hover{
        color: $blueColor;
      }
    }
  }
  // .contact-footer__location
  &__location {
    color: white;
    @include adaptiveValue("font-size", 20, 16,0,1920,375);
    line-height: normal;
    letter-spacing: -0.4px;

    display: flex;
    align-items: center;
    gap: toRem(10);
    
  }
  // .contact-footer__body
  &__body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: toRem(26);
    @include adaptiveValue("column-gap", 37, 15,0,1920,1440);
    @media (max-width: em(1300.98)){
        flex-direction: column;
        row-gap: toRem(5);
    }
  }
  // .contact-footer__link
  &__link {
    color: white;
    font-family: "Manrope";
    @include adaptiveValue("font-size", 20, 16,0,1920,375);
    font-weight: 400;
    line-height: normal;
    
    @include adaptiveValue("height", 87, 60,0,1920,1440);
    width: 100%;
    // min-width: toRem(209);
    gap: toRem(10);
  }
}

.main-footer {
  border-bottom: toRem(1) solid rgba(255, 255, 255, 0.2);
  @include adaptiveValue("padding-top", 45, 20,0,1920,375);
  @include adaptiveValue("padding-bottom", 45, 20,0,1920,375);
  // .main-footer__link
  &__link {
    display: block;
    text-align: center;
    color: white;
    font-size: 112px;
    @include adaptiveValue("font-size", 112, 20,0,1920,375);
    @include adaptiveValue("font-size", 20, 17,3,375,320);
    line-height: normal;
    transition: all .3s ease;
    @media (any-hover: hover){
      &:hover{
        color: $blueColor;
      }
    }
  }
}

.policy-footer {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding-top: toRem(35);
	// .policy-footer__block
	&__block {
    width: 100%;
    display: grid;
    grid-template-columns: auto 38%;
    align-items:center;
    @media (max-width:$mobile){
       grid-template-columns: auto auto; 
    }
    @media (max-width: em(650.98)){
        grid-template-columns: auto;
        row-gap: toRem(5);
    }
  }
	// .policy-footer__top
	&__top {
    flex: 0 0 toRem(45);
	}
  // .policy-footer__policy
  &__policy {
    color: $gray-2-Secondary;
    font-family: "Manrope";
    font-size: toRem(14);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
      // .policy-footer__policy_link
      &_link {
        display: inline-block;
        transition: all .3s ease;
        @media (any-hover: hover){
          &:hover{
            color: white;
          }
        }
      }
  
  }
    // .policy-footer__to-top
    &__to-top {
      border-radius: 50%;
      border: toRem(2) solid $gray-2-Secondary;
      @include adaptiveValue("width", 42, 35, 0, 1920,375);
      @include adaptiveValue("height", 42, 35, 0, 1920,375);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .3s ease;
      @media (any-hover: hover){
        &:hover{
          border-color: $blueColor;
          background-color: $blueColor;
          &._icon-arr-up {
            color: white;
          }
        }
      }
      &._icon-arr-up {
        color: $gray-2-Secondary;
        @include adaptiveValue("font-size", 18, 16,0,1920,375);
      }
    }
}
