//===== HOME-HERO  ==============================================================================
.home-hero {
  // .home-hero__container
  &__container {
    @media (max-width:$mobile){
       padding-bottom: toRem(90); 
    }
  }
		// .home-hero__body
		&__body {
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: toRem(491) toRem(491);
      @media (max-width: em(1500)){
        grid-template-rows: toRem(380) toRem(380);
      }
      @media (max-width:$tablet){
        grid-template-columns: auto;
        grid-template-rows: auto;
      }
		}
		// .home-hero__block
		&__block {
      display: flex;
      align-items: center;
      &:nth-child(1) {
        padding-top: toRem(100);
        border-right: toRem(1) solid rgba(255, 255, 255, 0.1);
        border-bottom: toRem(1) solid rgba(255, 255, 255, 0.1);
        @media (max-width:$tablet){
          border-right: unset;
          border-bottom: unset;
          padding-top: toRem(130);
          margin-bottom: toRem(30);
        }
        @media (max-width:$mobileSmall){
           margin-bottom: toRem(15); 
        }
      }
      &:nth-child(2) {
        @include adaptiveValue("padding-left", 164, 150,0,1920,1440);
        @include adaptiveValue("padding-left", 150, 0,3,993,992);
        padding-top: toRem(100);
        border-bottom: toRem(1) solid rgba(255, 255, 255, 0.1);
        @media (max-width:$tablet){
          padding-top: unset;
          border-bottom: unset;
          margin-bottom: toRem(50);
        }
        @media (max-width:$mobileSmall){
          margin-bottom: toRem(26); 
        }
      }
      &:nth-child(3) {
        border-right: toRem(1) solid rgba(255, 255, 255, 0.1);
        @media (max-width:$tablet){
          border-right: unset;
        }
      }
      &:nth-child(4) {
        align-items: flex-end;
        justify-content: flex-end;
        @media (max-width:$mobile){
           justify-content: flex-start; 
        }
        @media (max-width:$mobileSmall){
            justify-content: center;
        }
      }
		}
		// .home-hero__subtitle
		&__subtitle {
      @media (max-width:$tablet){
        max-width: toRem(350);
      }
      @media (max-width:$mobileSmall){
         max-width: toRem(200); 
      }
      span {
        display: block;
        &:nth-child(1) {
          @include adaptiveValue("padding-left", 120, 90,0,1920,1440);
          @include adaptiveValue("padding-left", 90,0,3,993,992 );
        }
        &:nth-child(2) {
        }
        &:nth-child(3) {
          @include adaptiveValue("padding-left", 120, 90,0,1920,1440);
          @include adaptiveValue("padding-left", 90,0,3,993,992 );
        }
        &:nth-child(4) {
        }
        @media (max-width:$tablet){
          display: inline-block;
        }
      }
		}
		// .home-hero__title
		&__title {
      max-width: toRem(765);
      @media (max-width: em(1440.98)){
        max-width: toRem(595);          
      }
		}
		// .home-hero__btn
		&__btn {
      @media (max-width: em(1200.98)){
          display: none;
      }
		}
		// .home-hero__info
		&__info {
		}
}

.info-hero {
	// .info-hero__txt
	&__txt {
    color: $gray-2-Secondary;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: toRem(30);
    @media (max-width:$mobile){
       display: none; 
    }
	}
	// .info-hero__list
	&__list {
    display: flex;
    @media (max-width:$mobile){
       display: grid;
       grid-template-columns: auto auto; 
    }
	}
	// .info-hero__item
	&__item {
    background-color: $blueColor;
    padding: toRem(86) toRem(20) toRem(160);
    @include adaptiveValue("width", 240, 200,0,1920,1440);
    @include adaptiveValue("width", 200, 160,3,1440,768);
    display: flex;
    justify-content: center;   
    transform: skewX(17deg); 
    transform-origin: top left;
    &:not(:last-child) {
      margin-right: toRem(42);
      @media (max-width: em(1440.98)){
          margin-right: toRem(30);
      }
      @media (max-width:$mobile){
         margin-right: unset; 
      }
    }
    @media (max-width: em(1440.98)){
      padding: toRem(70) toRem(20) toRem(120);
    }
    @media (max-width:$mobile){
       transform: skewX(0); 
       padding: toRem(20);
       height: toRem(160);
       border-radius: 50%;
       align-items: center;
       box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
    }
    &:nth-child(1) {
      @media (max-width:$mobile){
          
      }
    }
    &:nth-child(2) {
      @media (max-width:$mobile){
          margin-left: toRem(-12);
      }
    }
    &:nth-child(3) {
      @media (max-width:$mobile){
        margin-top: toRem(-12);
      }
    }
    &:nth-child(4) {
      @media (max-width:$mobile){
        margin-top: toRem(-12);
        margin-left: toRem(-12);
      }
    }
	}
	// .info-hero__info
	&__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: skewX(-17deg); 
    @media (max-width:$mobile){
      transform: skewX(0); 
    }
		// .info-hero__info_num
		&_num {
      color:#FFF;
      text-align: center;
      @include adaptiveValue("font-size", 48, 24,0,1920,375);
      line-height: 1;
      &:not(:last-child) {
        margin-bottom: toRem(5);
      }
		}
		// .info-hero__info_txt
		&_txt {
      color: rgba(255, 255, 255, 0.80);
      text-align: center;
      font-family: Manrope;
      @include adaptiveValue("font-size", 14, 12,0,1920,375);
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
		}
	}
}


//===================================================================================
.what {
  background-color: $gray-1-Bg;
  // .what__container
  &__container {
  }
	// .what__body
	&__body {
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
    @media (max-width: em(650.98)){
        grid-template-columns: auto;
    }
    &::before {
      content:'';
      position: absolute;
      top: 0;
      left: 30%;
      height: 100%;
      width: toRem(1);
      background-color: $gray-7-lines;
      @media (max-width:$mobile){
         left: 33%; 
      }
      @media (max-width: em(650.98)){
          display: none;
      }
    }
	}
  // .what__block
  &__block {
    padding-top: toRem(88);
    padding-bottom: toRem(25);
    position: relative;
    display: flex;
    align-items: flex-end;
    @media (max-width: em(1440.98)){
      padding-top: toRem(50);
    }
    @media (max-width: em(650.98)){
        padding-bottom: unset;
        padding-top: unset;
    }
    &:nth-child(1) {
      padding-top: toRem(206);
      border-bottom: toRem(1) solid $gray-7-lines;
      @media (max-width: em(1440.98)){
          padding-top: toRem(80);
      }
      @media (max-width: em(650.98)){
        border-bottom: unset;
        padding-top: toRem(60);
        margin-bottom: toRem(10);
        order: 1;
      }
    }
    &:nth-child(2) {
      padding-top: toRem(206);
      border-bottom: toRem(1) solid $gray-7-lines;
      @media (max-width: em(1440.98)){
          padding-top: toRem(80);
      }
      @media (max-width: em(650.98)){
          padding-top: unset;
          padding-bottom: toRem(10);
          margin-bottom: toRem(40);
          order: 2;
      }
    }
    &:nth-child(3) {
      padding-right: toRem(180);
      @media (max-width:$tablet){
        padding-right: toRem(100);
      }
      @media (max-width: em(650.98)){
          padding-right: unset;
          margin-bottom: toRem(40);
          order: 4;
      }
    }
    &:nth-child(4) {
      @media (max-width: em(650.98)){
        order: 3;
        margin-bottom: toRem(20);
      }
    }
    &:nth-child(5) {
      padding-bottom: toRem(80);
      @media (max-width: em(1440.98)){
          padding-bottom: toRem(40);
      }
      @media (max-width: em(650.98)){
          display: none;
      }
    }
    &:nth-child(6) {
      padding-bottom: toRem(80);
      @media (max-width: em(1440.98)){
          padding-bottom: toRem(40);
      }
      @media (max-width: em(650.98)){
        order: 5;
        padding-bottom: toRem(60);
      }
    }
  }
  // .what__title
  &__title {
  }
  // .what__name
  &__name {
  }
  // .what__text
  &__text {
    max-width: toRem(330);
  }
  // .what__text-big
  &__text-big {
  }
  // .what__link
  &__link {
  }
  // .what__btn
  &__btn {
  }
  // .what__logo
  &__logo {
    position: absolute;
    right: 0;
    bottom: toRem(80);
    @media (max-width:$tablet){
      width: toRem(180);
      height: auto;
      bottom: toRem(20);
    }
    @media (max-width: em(650.98)){
        display: none;
    }
  }
}



// === WHY ===========================================
// -------------------------------
.why {
  position: relative;
  // .why__container
  &__container {
  }
  // .why__body
  &__body {
  }
  // .why__block
  &__block {
  }
  // .why__title
  &__title {
  }
  // .why__text
  &__text {
    max-width: toRem(350);
  }
  // .why__text-big
  &__text-big {
  }
  // .why__link
  &__link {
    @media (max-width:$tablet){
      display: none;
    }
  }
  // .why__card
  &__card {
  }
}

.card-why {
display: grid;
grid-template-columns: 1fr 1fr;
gap: toRem(20);
@media (max-width: em(600.98)){
    grid-template-columns: 1fr;
    gap: toRem(10);
}
  // .card-why__item
  &__item {
  background-color: white;
  backdrop-filter: blur(10px);
  padding: toRem(50) toRem(30) toRem(60) toRem(50);
    @media (max-width:$tablet){
      padding: toRem(30);
    }
  }
  // .card-why__num
  &__num {
    color: $gray-5;
    @include adaptiveValue("font-size", 48, 36,0,1920,1440);
    @include adaptiveValue("font-size", 36, 24,3,1440,375);
    line-height: 1;
    @include adaptiveValue("margin-bottom", 60, 45,0,1920,1440);
    @include adaptiveValue("margin-bottom", 45, 30,3,1440,375);
  }
  // .card-why__title
  &__title {
  color: $blueColor;
  @include adaptiveValue("font-size", 24, 18,0,1920,375);
  line-height: 100%;
  text-transform: uppercase;
  @include adaptiveValue("margin-bottom", 20, 10,0,1920,375);
  }
  // .card-why__txt
  &__txt {
  color: $mainColor;
  font-family: "Manrope";
  @include adaptiveValue("font-size", 18, 16,0,1920,375);  
  font-weight: 500;
  line-height: 1.05;
  letter-spacing: -0.18px;
  }
  // .card-why__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: em(600.98)){
        margin-top: toRem(20);
    }
  }
  // .card-why__link-btn
  &__link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    width: toRem(320);
    height: toRem(320);
    padding: toRem(20);
    border-radius: 50%;
    border: toRem(5) solid white;

    color: #ffffff;
    text-align: center;
    font-size: toRem(18);
    line-height: normal;
    text-transform: uppercase;

    transition: all .3s ease;
    @media (any-hover: hover){
      &:hover{
        background-color: rgba(255, 255, 255, 0.9);
        border-color: rgba(255, 255, 255, 0.9);
        color: $blueColor;
      }
    }
    @media (max-width: em(1440.98)){
      width: toRem(240);
      height: toRem(240);
    }
    @media (max-width: em(600.98)){
      height: toRem(55);
      padding: toRem(16);
      width: 100%;
      font-size: toRem(13);
      border-radius: toRem(100);
      border: toRem(1) solid white;
    }
    img {
      position: absolute;
      bottom: 0;
      right: toRem(-32);
      @media (max-width: em(1440.98)){
          width: toRem(103);
          height: auto;
      }
      @media (max-width: em(600.98)){
          display: none;
      }
    }
  }
}
